%h2 Get Your Drank On: Review Your Order
%table.table
  %thead
    %tr
      %th Quantity
      %th Beverage
      %th Price
      - @order.order_items.each do |oi|
        %tr
          %td= oi.quantity
          %td= oi.item.name
          %td= oi.currency
%br/
%h2
  Total: #{@order.currency}
.div
= link_to 'Edit', edit_order_path, role: "button", class:"btn btn-large btn-block btn-primary" 
