%h2 Here's a list of your previous orders:
.displays
  - @orders.each do |o|
    %h4 Order Number #{o.id}
    %h5 Total #{o.currency}
    %table.table
      %thead
        %tr
          %th
          %th Quantity
          %th Beverage
          %th Price
          - o.order_items.each do |oi|
            %tr
              %td
              %td
                = oi.quantity
              %td
                = oi.item.name
              %td
                = oi.currency
= link_to 'Main', root_path, role: "button", class: "btn btn-block btn-default btn-primary"
