%h3
  Order##{@order.id}
Date order placed: #{@order.updated_at.strftime('%m/%d/%Y')}
%br/
- @order.order_items.each do |oi|
  = oi.item.name
  Quantity: #{oi.quantity}
  %br/
  Price: #{number_to_currency(oi.price)}
  %br/

