%tr
  - if "this is where we check for admin"==true
    %td= item.available
  %td.name= item.name
  %td= item.description
  %td= number_to_currency(item.price * 0.01)
  - if "this is where we check for admin"==true
    %td= item.cost
    %td= item.category.name
    %td= item.sort_order
  %td= link_to 'Add to Order', add_item_to_cart_path(item.id), role: "button", method: :post, class:"btn btn-default"
  - if "this_is_where_we_check_for_admin"==true
    %td= link_to 'Show', item, role: "button", class:"btn btn-default"
    %td= link_to 'Edit', edit_item_path(item), role: "button", class:"btn btn-default"
    %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, role: "button", class:"btn btn-default"
