!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Dashboard ~ BrewHaHa
    / Bootstrap core CSS
    %link{href: "css/bootstrap.css", rel: "stylesheet"}/
    / Add custom CSS here
    %link{href: "css/sb-admin.css", rel: "stylesheet"}/
    %link{href: "font-awesome/css/font-awesome.min.css", rel: "stylesheet"}/
    / Page Specific CSS
    %link{href: "http://cdn.oesmith.co.uk/morris-0.4.3.min.css", rel: "stylesheet"}/
  %body
    #wrapper
      %nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} BrewHaHa Order
        .collapse.navbar-collapse.navbar-ex1-collapse
          
%h2 Get Your Drank On: Review Your Order
%table 
  %thead 
    %tr
      %th Number
      %th
      %th
      %th Beverage
      %th Price
      - current_cart.cart_items.each do |cart_item|
        %tr
          %td
            =link_to delete_item_from_cart_path(cart_item.item_id), method: :post do
              %span.glyphicon.glyphicon-remove
          %td= cart_item.quantity
          %td
            =link_to add_item_to_cart_path(cart_item.item_id), method: :post do
              %span.glyphicon.glyphicon-plus
          %td
            =link_to subtract_item_from_cart_path(cart_item.item_id), method: :post do
              %span.glyphicon.glyphicon-minus
          %td= cart_item.item.name
          %td= number_to_currency(cart_item.item.price * 0.01)
%br/
%h2
  Total: #{current_cart.price}

= form_tag charges_path do
  %script.stripe-button{"data-amount" => "500", "data-description" => "A month's subscription", "data-key" => Rails.configuration.stripe[:publishable_key], src: "https://checkout.stripe.com/checkout.js"}
= link_to 'Get Some More Dranks', root_path, role: "button", class:"btn btn-default btn-category"
= image_tag "image.png" , class:"table"
