%nav.navbar.navbar-default.navbar-inverse{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/"} BrewHahA
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      - unless request.fullpath == "/charges/new"
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Cart
            %b.caret
          %ul.dropdown-menu.cart-item
            %table.table 
              %thead
                %tr
                  %th
                  %th Qt.
                  %th
                  %th
                  %th Beverage
                  %th Price
                  - current_cart.cart_items.each do |cart_item|
                    %tr
                      %td
                        =link_to delete_item_from_cart_path(cart_item.item_id), method: :post do
                          %span.glyphicon.glyphicon-remove
                      %td= cart_item.quantity
                      %td
                        =link_to add_item_to_cart_path(cart_item.item_id), method: :post do
                          %span.glyphicon.glyphicon-plus
                      %td
                        =link_to subtract_item_from_cart_path(cart_item.item_id), method: :post do
                          %span.glyphicon.glyphicon-minus
                      %td= cart_item.name
                      %td= cart_item.price
            %li.divider
            %li
              - if current_customer
                - if current_cart.total == 0 
                  %h3="/t Cart Empty.  Add Some Drinks!"
                - else
                  = link_to 'Send Order', orders_path, method: :post
              - else 
                = link_to "To Complete Order Login with Twitter", "/auth/twitter?use_authorize=true"
      %li
        - if current_customer
          = link_to "Logout", signout_path
        - else
          = link_to "Login with Twitter", "/auth/twitter?use_authorize=true"

